   
    <script>
        var loginUser = {
            isLogin:true,
            uName:'',
            uImg:'/images/userImg.jpg',
            uClass:'',
            userNav:[
                {url:'',icon:'wx-Calendar',newMsg:false,text:'我的任务'},
                {url:'',icon:'wx-Wallet',newMsg:false,text:'资金账户'},
                {url:'',icon:'wx-Calendar',newMsg:false,text:'公告'},
                {url:'',icon:'wx-Like2',newMsg:false,text:'喜欢'}
            ]
        }
    </script>
    <script src="/js/build/main.js"></script>
    </body>
</html>
