<%- include header.html %>
<script id="dataScript">
	var data = {
    imgUrl : [
                {url:"/images/banner.jpg",imgUrl:'/images/banner2.jpg'},
                {url:"/images/banner.jpg",imgUrl:'/images/banner3.jpg'},
                {url:"/images/banner.jpg",imgUrl:'/images/banner4.gif'}
                    ],
    navData : [
			{navUrl:'/tasklist/2',navIcon:'/images/nav1.svg',navName:'后期剪辑'},
			{navUrl:'/tasklist/3',navIcon:'/images/nav2.svg',navName:'摄像'},
			{navUrl:'/tasklist/4',navIcon:'/images/nav3.svg',navName:'剧本'},
			{navUrl:'/tasklist/5',navIcon:'/images/nav4.svg',navName:'配音'},
			{navUrl:'/tasklist/6',navIcon:'/images/nav5.svg',navName:'导演'},
			{navUrl:'/tasklist/7',navIcon:'/images/nav6.svg',navName:'演员'},
			{navUrl:'/tasklist/8',navIcon:'/images/nav7.svg',navName:'化妆'},
			{navUrl:'/tasklist/9',navIcon:'/images/nav8.svg',navName:'灯光'},
			{navUrl:'/tasklist/10',navIcon:'/images/nav9.svg',navName:'创意'}
		],
    TaskClass: [
                {
                    classTitle:'后期剪辑',
                    url:'test',
                    recommend:[
                        {
                            taskImg:'/images/recommend.jpg',
                            taskUrl:'/TaskPage',
                            taskTilte:'发单]环球雅思绵阳分校3~5分钟'
                        }
                    ],
                    TaskList:[
                        {
                            taskUrl:'/TaskPage',
                            taskImg:'/images/task.jpg',
                            taskState:0, //0表示结术 1表示进行
                            taskTilte:'发单]环球雅思绵阳分校3~5分钟',
                            taskIntro:'以环球雅思绵阳分校为中心，创作100字以上的微视频创意',
                            taskPrice:'300'
                        }
                    ]
                },
                {
                    classTitle:'摄像',
                    url:'test',
                    recommend:[
                        {
                            taskImg:'/images/recommend.jpg',
                            taskUrl:'/TaskPage',
                            taskTilte:'发单]环球雅思绵阳分校3~5分钟'
                        }
                    ],
                    TaskList:[
                        {
                            taskUrl:'/TaskPage',
                            taskImg:'/images/task.jpg',
                            taskState:0, //0表示结术 1表示进行
                            taskTilte:'发单]环球雅思绵阳分校3~5分钟',
                            taskIntro:'以环球雅思绵阳分校为中心，创作100字以上的微视频创意',
                            taskPrice:'300'
                        }
                    ]
                },
                {
                    classTitle:'剧本',
                    url:'test',
                    recommend:[
                        {
                            taskImg:'/images/recommend2.jpg',
                            taskUrl:'/TaskPage',
                            taskTilte:'发单]环球雅思绵阳分校3~5分钟'
                        },
                        {
                            taskImg:'/images/recommend2.jpg',
                            taskUrl:'/TaskPage',
                            taskTilte:'发单]环球雅思绵阳分校3~5分钟'
                        }
                    ],
                    TaskList:[
                        {
                            taskUrl:'/TaskPage',
                            taskImg:'/images/task.jpg',
                            taskState:0, //0表示结术 1表示进行
                            taskTilte:'发单]环球雅思绵阳分校3~5分钟',
                            taskIntro:'以环球雅思绵阳分校为中心，创作100字以上的微视频创意',
                            taskPrice:'300'
                        }
                    ]
                },
                {
                    classTitle:'配音',
                    url:'test',
                    recommend:[
                        {
                            taskImg:'/images/recommend.jpg',
                            taskUrl:'/TaskPage',
                            taskTilte:'发单]环球雅思绵阳分校3~5分钟'
                        }
                    ],
                    TaskList:[
                        {
                            taskUrl:'/TaskPage',
                            taskImg:'/images/task.jpg',
                            taskState:0, //0表示结术 1表示进行
                            taskTilte:'发单]环球雅思绵阳分校3~5分钟',
                            taskIntro:'以环球雅思绵阳分校为中心，创作100字以上的微视频创意',
                            taskPrice:'300'
                        }
                    ]
                },
                {
                    classTitle:'导演',
                    url:'test',
                    recommend:[
                        {
                            taskImg:'/images/recommend.jpg',
                            taskUrl:'/TaskPage',
                            taskTilte:'发单]环球雅思绵阳分校3~5分钟'
                        }
                    ],
                    TaskList:[
                        {
                            taskUrl:'/TaskPage',
                            taskImg:'/images/task.jpg',
                            taskState:0, //0表示结术 1表示进行
                            taskTilte:'发单]环球雅思绵阳分校3~5分钟',
                            taskIntro:'以环球雅思绵阳分校为中心，创作100字以上的微视频创意',
                            taskPrice:'300'
                        }
                    ]
                },
                {
                    classTitle:'演员',
                    url:'test',
                    recommend:[
                        {
                            taskImg:'/images/recommend2.jpg',
                            taskUrl:'/TaskPage',
                            taskTilte:'发单]环球雅思绵阳分校3~5分钟'
                        },
                        {
                            taskImg:'/images/recommend2.jpg',
                            taskUrl:'/TaskPage',
                            taskTilte:'发单]环球雅思绵阳分校3~5分钟'
                        }
                    ],
                    TaskList:[
                        {
                            taskUrl:'/TaskPage',
                            taskImg:'/images/task.jpg',
                            taskState:0, //0表示结术 1表示进行
                            taskTilte:'发单]环球雅思绵阳分校3~5分钟',
                            taskIntro:'以环球雅思绵阳分校为中心，创作100字以上的微视频创意',
                            taskPrice:'300'
                        }
                    ]
                },
                {
                    classTitle:'化妆',
                    url:'test',
                    recommend:[
                        {
                            taskImg:'/images/recommend.jpg',
                            taskUrl:'/TaskPage',
                            taskTilte:'发单]环球雅思绵阳分校3~5分钟'
                        }
                    ],
                    TaskList:[
                        {
                            taskUrl:'/TaskPage',
                            taskImg:'/images/task.jpg',
                            taskState:0, //0表示结术 1表示进行
                            taskTilte:'发单]环球雅思绵阳分校3~5分钟',
                            taskIntro:'以环球雅思绵阳分校为中心，创作100字以上的微视频创意',
                            taskPrice:'300'
                        }
                    ]
                },
                {
                    classTitle:'灯光',
                    url:'test',
                    recommend:[
                        {
                            taskImg:'/images/recommend.jpg',
                            taskUrl:'/TaskPage',
                            taskTilte:'发单]环球雅思绵阳分校3~5分钟'
                        }
                    ],
                    TaskList:[
                        {
                            taskUrl:'/TaskPage',
                            taskImg:'/images/task.jpg',
                            taskState:0, //0表示结术 1表示进行
                            taskTilte:'发单]环球雅思绵阳分校3~5分钟',
                            taskIntro:'以环球雅思绵阳分校为中心，创作100字以上的微视频创意',
                            taskPrice:'300'
                        }
                    ]
                },
                {
                    classTitle:'创意',
                    url:'test',
                    recommend:[
                        {
                            taskImg:'/images/recommend2.jpg',
                            taskUrl:'/TaskPage',
                            taskTilte:'发单]环球雅思绵阳分校3~5分钟'
                        },
                        {
                            taskImg:'/images/recommend2.jpg',
                            taskUrl:'/TaskPage',
                            taskTilte:'发单]环球雅思绵阳分校3~5分钟'
                        }
                    ],
                    TaskList:[
                        {
                            taskUrl:'/TaskPage',
                            taskImg:'/images/task.jpg',
                            taskState:0, //0表示结术 1表示进行
                            taskTilte:'发单]环球雅思绵阳分校3~5分钟',
                            taskIntro:'以环球雅思绵阳分校为中心，创作100字以上的微视频创意',
                            taskPrice:'300'
                        }
                    ]
                }
            ]
}
</script>
<aside id="aside"></aside>
<aside id="aside2"></aside>
<div id="react">
</div>
<%- include footer.html %>
