<%- include header.html %>
<script id="dataScript">
	// 我的任务例表数据
	var  data = {
	     UserInfo: {
	        uImg:'/images/userImg.jpg',
	        uName:'何潇',
	        uClass:'成都 / 高新'
	    },
	    TaskList:[
	            {
	                taskUrl:'/images/task.jpg',
	                taskImg:'/images/task.jpg',
	                taskState:0, //0表示结术 1表示进行
	                taskTilte:'发单]环球雅思绵阳分校3~5分钟',
	                taskIntro:'以环球雅思绵阳分校为中心，创作100字以上的微视频创意',
	                taskPrice:'300'
	            }
	        ]
	}
</script>
<aside id="aside"></aside>
<aside id="aside2"></aside>
<div id="MyTaskListPage">
    
</div>
<%- include footer.html %>
