<%- include header.html %>
<script id="dataScript">
	// 任务祥情数据
	var  data = {
	    imgUrl : [
	                {url:"/images/banner.jpg",imgUrl:'/images/banner2.jpg'}
	                    ],
	    UserInfo: {
	        uImg:'/images/userImg.jpg',
	        uName:'何潇',
	        uClass:'成都 / 高新'
	    },
	    TaskInfo: {
	        taskId:112,
	        taskClass:2, //1报价 2接单
	        isMyLOVE:false,
	        taskState:0,//0 进行 1中标 2 流标 3结束
	        taskEndTime:'5/03',
	        taskPrice:'300',
	        taskTilte:'发单]环球雅思绵阳分校3~5分钟',
	        taskIntro:'<h1>123</h1>以环球雅思绵阳分校为中心，创作100字以上的微视频创意',
	        otherExplai:''//其它说明
	    }
	}
</script>
<aside id="aside"></aside>
<aside id="aside2"></aside>
<div id="TaskPage">
    
</div>
<%- include footer.html %>
